<div class="position-absolute top-50 start-50 translate-middle">
    <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">My-First-Weather-App</h5>
          <p class="card-text">This is my first weather app, which is fully dynamic, reliable, and provides weather for the upcoming five days.</p>
          <a href="#" class="btn btn-primary" routerLink="/weather">click here</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
</div>
<router-outlet></router-outlet>
